!!! 5
html
  head
    title Pound/Piler rocks !
    !{renderStyles("app")}
  body
    p Look at the source code and then try to start the server with
      <pre>NODE_ENV=production node server.js</pre>
    a(href="/") Go the homepage (with the home assets)

    !{renderJs("app")}
