!!! 5
html
  head
    title Pound/Piler rocks !
    !{renderStyles("home")}
  body
    p Look at the source code and then try to start the server with
      <pre>NODE_ENV=production node server.js</pre>
    a(href="/app") Go the app page (with app assets)

    !{renderJs("home")}
